html(lang="en")
  head
    meta(charset="UTF-8")
    script.
      function deleteData(prop) {
        // L'API fetch n'envoie pas les cookies par défaut, il faut donc spécifier manuellement 'credentials' dans les options
        fetch(`/form/${prop}`, { credentials: 'include', method: 'DELETE' })
          .then(response => {
            // Une fois la requête correctement effectuée, on supprime la ligne correspondant dans le DOM
            document.getElementById(prop).remove(); 
          });
      }

  body
    h1 Form results !

    table
      each val, key in data
        tr(id=`${key}`)
          td(style={ 'padding-right': '10px' })= key.toUpperCase()
          td= val
          td
            button(onclick=`deleteData('${key}')`) Delete
